<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title></title>
    <!--人员进出管控系统-->
    <link rel="stylesheet" type="text/css" href="css/angular-confirm.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/cropper.min.css">
    <link rel="stylesheet" type="text/css" href="css/shards.min.css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/styles.css">


</head>

<body ng-controller="MainCtrl">
<div id="Layer1" style="position:absolute; left:0px; top:0px; width:100%; height:100%">
    <img src="1111.jpg" width="100%" height="200%"/>
</div>


<div class="pages-content welcome__form page_passport ncu_background" data-ng-init="pageInit()">
    <div class="container" id="container">
        <div class="page d-flex justify-content-center align-items-center flex-column passport_panel"
             data-page="welcome">
            <div class="page-box">

                <div class="page-panel">

                    <div class="align-items-center my-3">
                        <div class="welcome-loading"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center my-3">
                            <span class="title page-title">南昌大学电子ID</span>
                            <div class="clock color-white" style=" font-size: 18px; ">&nbsp;
                                <SCRIPT src="js/Clock.js" type=text/javascript></SCRIPT>
                                <label id=clock></label>
                                <SCRIPT type=text/javascript>
                                    var clock = new Clock();
                                    clock.display(document.getElementById("clock"));
                                </SCRIPT>
                            </div>
                        </div>
                    </div>


                    <div class="card passport_card mb-3 user-info-card">
                        <div class="bg-wave">
                            <div class="wave1"></div>
                            <div class="wave2"></div>
                            <div class="wave3"></div>
                        </div>

                        <div class="card-body p-3"
                             style="background-image: url('8.jpg');
                             background-size: 100% 100%;
                            background-position: 100% 100%;">
                            <div class="row">
                                <div class="col p-0">
                                    <div class="col-12">
                                        <label for="name" class="col-form-label card-label"
                                               style="color:#ffffff">姓名</label>
                                        <p class="col-form-text d-inline-block pl-3" style="color:#ffffff">罗海江</p>
                                    </div>
                                    <div class="col-12">
                                        <label for="sex" class="col-form-label card-label"
                                               style="color:#ffffff">性别</label>
                                        <p class="col-form-text d-inline-block pl-3" style="color:#ffffff">男</p>
                                    </div>
                                    <div class="col-12">
                                        <!--<label class="col-form-label card-label" for="number" ng-show="passport.userType=='1'">学号</label>-->
                                        <label class="col-form-label card-label" for="number"
                                               ng-show="passport.userType!='1'" style="color:#ffffff">工号</label>
                                        <p class="col-form-text d-inline-block pl-3" style="color:#ffffff">102000361</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="avatar-img-panel">
                                        <img id="avatar-img" src="228.jpg" class="photo w-100">
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label class="card-label" for="mobile" style="color:#ffffff">手机号</label>
                                    <p class="col-form-text d-inline-block pl-3" style="color:#ffffff">18907958131</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label class="card-label" for="idCard" style="color:#ffffff">身份证号</label>
                                    <p class="col-form-text d-inline-block pl-3" style="color:#ffffff">
                                        362201199508274872</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" ng-show="passport.userType!='1'">
                                    <label class="card-label mt-2 mb-0" for="deptId" style="color:#ffffff">部门</label>
                                    <p class="col-form-text d-inline p-3" style="color:#ffffff">后勤保障部</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card mb-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="d-flex f-row align-items-center campus-panel">
                                <div class="campus-box " style="background: #4b8bf5">
                                    <span style="color:#ffffff">前湖北</span>
                                </div>
                                <div class="campus-box campus_id-100004" style="background: #6f42c1">
                                    <span style="color:#ffffff">前湖南</span>
                                </div>
                                <div class="campus-box campus_id-100001" style="background: #18a05f">
                                    <span style="color:#ffffff">青山湖</span>
                                </div>
                                <div class="campus-box campus_id-100003" style="background: #ffce44">
                                    <span style="color:#ffffff">东湖</span>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-12">

                                    <div class="qr-code-canvas">
                                        <div class="canvas text-center py-4" style=" min-height: 180px; ">
                                            <img id="" src="18.jpg" class="canvas">
                                        </div>
                                    </div>
                                    <div class="my-3 px-3 text-center font-weight-bold color-black">
                                        <span class="" style="">红码不表示您的健康状况。仅说明按照相关规定，暂时不能入校。</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-box">
                <div class="page-panel">
                    <div class="align-items-center my-4" ng-if="userRoleId == 1002 || userRoleId == 1003">
                        <button href="#" class="btn btn-light btn-block" ng-click="goto_list_apply()"><span
                                class="text">许可审批</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
