/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "Microsoft Yahei";}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:14px/150% Microsoft YaHei,SimSun,"\5b8b\4f53";
    /*color:#fff ;*/
    /*background: url("../images/big-bg.png") repeat-y;*/
    /*background: url("../images/big-bg111.png") repeat-y;*/
    /*background-size: 100% auto;*/
    /*background-color: #2775b6;*/
    /*background-color: #f2f2f2;*/
}
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a{
    /*color:#fff !important; */
    color:#555;
    text-decoration:none;
}
/*.ahover:hover{*/
    /*text-decoration: underline !important;*/
    /*color:red !important;*/
    /*cursor:pointer;*/
/*}*/
h1,h2,h3,h4,h5,h6{text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.fl{
    float: left;
}
.fr{
    float: right;
}

.w {
    width:1200px;
    margin:auto;
}
html, body {
    width: 100%;
    height: auto;
    background-color: #fcfcfc;
}

body {
    height: 200px;
    background-image: linear-gradient(#128fe9,60%, #f6f6f6);
}

.jqr {
    width: 94%;
    height: 60px;
    margin-left: 3%;
}

    .jqr .jqr-img {
        width: 50px;
        height: 50px;
        float: left;
        margin-top: 5px;
        margin-left: 5px;
    }

    .jqr .jqr-hello {
        float: left;
        color: #fff;
        margin-top: 7px;
        font-size: 12px;
    }
        /*.jqr .jqr-hello p{*/
        /*line-height:26px;*/
        /*}*/
        .jqr .jqr-hello p span {
            display: inline-block;
            width: 16px;
            height: 16px;
            line-height: 14px;
            border-radius: 50%;
            background-color: rgba(255,255,255,.4);
            color: #fff;
            margin-left: 10px;
            text-align: center;
            font-size: 16px;
        }

    .jqr > .fr {
        height: 60px;
        vertical-align: bottom;
        color: #fff;
    }

        .jqr > .fr > span {
            display: inline-block;
            border-bottom: 1px solid #fff;
            font-size: 12px;
            font-family: Microsoft Yahei;
            padding-bottom: 3px;
            margin-top: 28px;
        }


.nav {
    margin-bottom: 10px;
    padding-top: 10px;
}

.nav1 {
    width: 94%;
    margin-left: 3%;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
    box-shadow: 0px 0px 3px 1px #eee;
}

    .nav1 .nav-title {
      /*  width: calc(100% - 3% - 1px);
        width: -moz-calc(100% - 3% - 1px);
        width: -webkit-calc(100% - 3% - 1px);*/
        line-height: 30px;
        padding-left: 3%;
        color: #333;
        background-color: #fff;
        font-size: 12px;
    }

    .nav1 > .carousel-warp {
        width: 100%;
        height: 160px;
    }

    .nav1 a {
        display: inline-block;
        /*width:32.8%;*/
        width: calc(33.33% - 1px);
        width: -moz-calc(33.33% - 1px);
        width: -webkit-calc(33.33% - 1px);
        height: 80px;
        background-color: #fff;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        float: left;
        text-align: center;
    }

        .nav1 a img {
            margin-top: 12px;
            width: 29px;
            height: 29px;
        }

        .nav1 a p {
            line-height: 38px;
            font-size: 12px;
        }

.bottom-nav1 {
    height: 46px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ddd;
}

    .bottom-nav1 a {
        display: inline-block;
        width: 20%;
        height: 46px;
        text-align: center;
        font-size: 12px;
        margin-top: 6px;
    }

        .bottom-nav1 a img {
            width: 20px;
            height: 20px;
        }

    .bottom-nav1 .nav-center {
        position: absolute;
        text-align: center;
        bottom: 15px;
        background-color: #fff;
        border-radius: 50%;
        padding-top: 10px;
    }

        .bottom-nav1 .nav-center img {
            width: 36px;
            height: 36px;
        }

    .bottom-nav1 a.active {
        color: #128fe9;
        font-weight: bold;
    }

.search-area {
    width: 91%;
    margin-left: 4.5%;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    /*margin-top: 15px;*/
    /*border:1px solid #8a8a8a;*/
    overflow: hidden;
}

    .search-area > input {
        width: 80%;
        height: 40px;
        margin: 0 15px;
        margin-right: 0;
    }

    .search-area > button {
        float: left;
        width: 16px;
        height: 16px;
        background: url("../image/search.png") no-repeat;
        background-size: 100% 100%;
        margin-top: 12px;
        margin-left: 15px;
        vertical-align: middle;
    }

.btn-lb {
    width: 100%;
    margin: 15px 0;
    text-align: center;
}

    .btn-lb > span {
        display: inline-block;
        color: #000;
        padding: 6px;
        margin-left: 25px;
        /*border-bottom:2px solid #fcfcfc;*/
    }

        .btn-lb > span.on {
            color: #fff;
            border-bottom: 2px solid #128fe9;
        }

.app-list {
    overflow-y: auto;
}

    .app-list ul > li {
        float: left;
        width: 25%;
        text-align: center;
        margin-top: 10px;
    }

        .app-list ul > li > .app-icon {
            width: 60px;
            height: 60px;
            line-height: 60px;
            background-color: #128fe9;
            color: #fff;
            font-size: 20px;
            border-radius: 8px;
            margin: 0 auto;
        }

        .app-list ul > li > .app-name {
            width: 86%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 5px 7%;
        }

        .app-list ul > li > .app-add {
            display: inline-block;
            padding: 2px 12px;
            color: #128fe9;
            background-color: #f0efeb;
            border-radius: 10px;
            text-align: center;
        }

        .app-list ul > li > .app-add-on {
            background-color: #128fe9;
            color: #fff;
            padding: 2px 5px;
        }

.icon-content > table {
    width: 100%;
}

    .icon-content > table tr th,
    .icon-content > table tr td {
        line-height: 24px;
    }

    .icon-content > table tr th {
        text-align: right;
        vertical-align: top;
    }

    .icon-content > table tr td {
        text-align: left;
    }

        .icon-content > table tr td .star456 {
            display: inline;
        }

        .icon-content > table tr td .pr-warp {
            border-top: 1px solid #fff;
            margin: 5px 0;
            padding-top: 5px;
        }

.yyimg {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 8px;
    color: #fff;
    margin-top: 8px;
    margin-left: 24px;
    font-size: 18px;
    text-align: center;
    background-color: #128fe9;
}

.tab-warp {
    width: 94%;
    height: auto;
    margin: 10px 3%;
    margin-bottom: 80px;
}

    .tab-warp .tab-title {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

        .tab-warp .tab-title span {
            display: inline-block;
            padding: 6px 12px;
            border-bottom: 1px solid #ddd;
            margin-bottom: -1px;
        }

            .tab-warp .tab-title span.on {
                color: #128fe9;
                border-bottom: 1px solid #128fe9;
            }
    /*.tab-warp > table {
        width:100%;
    }*/
    .tab-warp > table tr th,
    .tab-warp > table tr td {
        padding: 3px 6px;
        text-align: center;
    }

/*.layui-layer-rim {
    border:none !important;
}*/
.rwzx-warp,
.dxmb-warp {
    display: none;
}

.dxmb-list {
    width: 92%;
    margin: 10px 4%;
}

    .dxmb-list > li {
        border-bottom: 1px solid #ddd;
    }

        .dxmb-list > li > p {
            padding: 5px 0;
        }

            .dxmb-list > li > p.list-bt {
                font-size: 18px;
                font-weight: bold;
            }





















/*.tab1-bt {
    width: 94%;
    padding: 10px 3%;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 1px #eee;
    border-radius: 6px;
    margin: 10px 3%;
}
.tab1-bt table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

    .tab1-bt table tr th,
    .tab1-bt table tr td {
        padding: 5px 0;
        border-bottom: 1px solid #ddd;
    }

    .tab1-bt table .text-l {
        text-align: left;
    }

    .tab1-bt table .text-r {
        text-align: right;
    }

        .tab1-bt table .text-r > span {
            color: #a2a2a2;
            display: inline-block;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
        }*/
.hdlb-list {
    /*min-height: 300px;*/
}

    .hdlb-list .hdlb-content {
        width: 92%;
        margin: 0 4%;
        padding: 10px 3%;
        border-radius: 6px;
        box-shadow: 1px 1px 2px 1px #eee;
        box-sizing: border-box;
        margin-top: 15px;
    }

        .hdlb-list .hdlb-content .hdlb-left {
            width: 100%;
        }

            .hdlb-list .hdlb-content .hdlb-left .hdlb-left-title {
                width: 100%;
                font-size: 18px;
            }

        .hdlb-list .hdlb-content .hdlb-right .hdlb-right-title {
            width: 100%;
            font-size: 18px;
        }

        .hdlb-list .hdlb-content .hdlb-left .hdlb-left-title > .dingwei {
            background-color: #e0fdf8;
            color: #38b9b5;
            border-radius: 4px;
            padding: 3px;
            font-size: 16px;
            margin-right: 3px;
        }

            .hdlb-list .hdlb-content .hdlb-left .hdlb-left-title > .dingwei > img {
                width: 20px;
                height: 20px;
            }

        .hdlb-list .hdlb-content .hdlb-left .hdlb-left-nr {
            color: #ccc;
            /*padding:6px 5px 6px 0;*/
            margin: 6px 5px 6px 0;
        }

            .hdlb-list .hdlb-content .hdlb-left .hdlb-left-nr > span {
                margin-right: 10px;
            }

        .hdlb-list .hdlb-content .hdlb-left .hdlb-left-nr1 > span {
            border-left: 1px solid #ccc;
            padding: 0 6px;
            margin-right: 0;
        }

        .hdlb-list .hdlb-content .hdlb-left .hdlb-left-nr > span:nth-of-type(1) {
            border-left: 0;
            padding-left: 0;
        }

        .hdlb-list .hdlb-content .hdlb-left .hdlb-left-nr > .hot > img {
            width: 20px;
            height: 20px;
        }


        .hdlb-list .hdlb-content .hdlb-left .hdlb-left-sh {
            color: #8bcbe4;
        }

        .hdlb-list .hdlb-content .hdlb-right .hdlb-right-sh {
            color: #8bcbe4;
        }

        .hdlb-list .hdlb-content .hdlb-left .hdlb-left-xf {
            padding: 2px 5px;
            color: #fff;
            background-color: #fd4501;
            border-radius: 4px;
        }

        .hdlb-list .hdlb-content .hdlb-right .hdlb-right-xf {
            padding: 2px 5px;
            color: #fff;
            background-color: #fd4501;
            border-radius: 4px;
        }

        .hdlb-list .hdlb-content .hdlb-right {
            width: 90px;
            height: 90px;
            overflow: hidden;
            position: relative;
        }

        .hdlb-list .hdlb-content .hdlb-right1 {
            border-radius: 6px;
        }

        .hdlb-list .hdlb-content .hdlb-right > img {
            width: 90px;
            height: 90px;
        }

        .hdlb-list .hdlb-content .hdlb-right .right-icon {
            position: absolute;
            right: -22px;
            top: 6px;
            color: #fff;
            transform: rotate(45deg);
            font-size: 10px;
            padding: 0px 20px;
            text-align: center;
        }

            .hdlb-list .hdlb-content .hdlb-right .right-icon.jxz {
                background-color: #5cafe2;
            }

            .hdlb-list .hdlb-content .hdlb-right .right-icon.yjs {
                background-color: #666;
            }

.layui-carousel-ind {
    top: -20px;
}

    .layui-carousel-ind ul {
        background-color: rgba(255,255,255,.0);
    }

    .layui-carousel-ind li {
        background-color: rgba(0,0,0,.3);
    }

        .layui-carousel-ind li.layui-this {
            background-color: #128fe9;
        }

    .layui-carousel-arrow:hover, .layui-carousel-ind ul:hover {
        background-color: rgba(255,255,255,.0);
    }


.top{
    width:100%;
    height:44px;
    background-color: #3f51b5;
    position: fixed;
    top:0;
    left:0;
    /*box-shadow: 0px 0px 6px 0px #333;*/
    /*box-shadow: 0 2px 8px rgba(47,53,87,.2) !important;*/
    box-shadow: 0 2px 10px 5px rgba(47,53,87,.2) !important;
    z-index: 9999;
}
.top .logo-warp{
    height:50px;
    margin-top:5px;
    margin-left:50px;
}
.top .logo-warp .logo{
    height:34px;
}
.top .logo-warp .logo-text{
    font-size:16px;
    margin-left:8px;
    vertical-align: middle;
    font-weight:bold;
}
.top .nav li{
    height:37px;
    line-height:37px;
    float:left;
    margin-top:5px;
    margin-left:40px;
    cursor:pointer;
    /*border-bottom:2px solid #4791ff;*/
}
.top .nav li.on,
.top .nav li:hover{
    border-bottom:2px solid #4791ff;
}
.top .nav li a{
    color:#fff;
}
.top .user-warp,
.top .theme-warp{
    height:40px;
    margin-top:5px;
    margin-right:40px;
}
.top .theme-warp{
    position: relative;
    margin-top:2px;
}
.top .user-warp .user,
.top .theme-warp .theme-title{
    cursor:pointer;
    transition: transform .3s;
}
.top .user-warp .user img{
    height:34px;
}
.top .user-warp .user-list,
.top .theme-warp .theme-list{
    width:100%;
    background-color: rgba(7,3,41,.3);
    margin-top:5px;
    display:none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 0px #333;
}
.top .theme-warp .theme-list{
    width:110%;
    position: absolute;
    /*padding:5px 10px;*/
}
.top .user-warp .user-list li,
.top .theme-warp .theme-list li{
    width:100%;
    line-height:36px;
    text-align: center;
    cursor:pointer;
}
.top .user-warp .user-list li a{
    color:#fff;
}
.top .theme-warp .theme-list li{
    text-align: left;
    padding-left:5px;
}
.top .user-warp .user-list li:hover,
.top .theme-warp .theme-list li:hover{
    background-color: rgba(71,145,255,.3);
}
.top .miaoshou{
    /*width:260px;*/
    height:30px;
    line-height:30px;
    padding-left:5px;
    margin-top:7px;
    background-color: rgba(255,255,255,.3);
    margin-left: 50px;
}
.top .miaoshou>input{
    width:140px;
    height:30px;
    background-color: rgba(255,255,255,.0);
    color:#fff;
    padding-left:5px;
}
.top .miaoshou>input::-webkit-input-placeholder{
    color:#fff;
}
.top .miaoshou>input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#fff;
}
.top .miaoshou>input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#fff;
}
.top .miaoshou>input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#fff;
}
.top .miaoshou>i{
    display: inline-block;
    font-size: 22px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor:pointer;
}
.copyright{
    width:100%;
    height:28px;
    line-height:28px;
    text-align: center;
    position: fixed;
    bottom:0;
    background-color: #3f51b5;
    box-shadow: 0 2px 10px 5px rgba(47,53,87,.2) !important;
}
/*滚动条样式*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
     border-radius: 0;
     background: rgba(0,0,0,0.1);
}
